---
layout: default
---

<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            <h3>Aktuální verze</h3>

            <h2 id="rls_name">Načítám data...</h2>
            <a id="rls_url" class="btn btn-success" href="#" target="_blank" onclick="countDownload">Stáhnout</a><br/><br/>
            <small>Datum vydání: <span id="rls_date">-</span></small>
            <br/>
            <small>Staženo: <span id="rls_counter">-</span>x</small>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <b>Seznam změn:</b>

                <div id="rls_changelog" class="text-left">...</div>
                <a href="{{site.github.releases_url}}" class="btn btn-default">Starší verze</a>
            </div>
            <div class="col-md-6">
                Autor: <a href="http://worldoftanks.eu/community/accounts/504298250"
                          target="_blank">Assassik</a><br/>
                Fórum: <a href="http://forum.worldoftanks.eu/index.php?/topic/523825-" target="_blank">EU</a><br/>
                Repozitář: <a href="{{site.github.repository_url}}" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row" id="srollable-content">
    <div class="col-md-3">
        <nav id="sidebar" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
            <ul class="nav bs-docs-sidenav">
                <li><a href="#download">Stáhnout</a></li>
                <li><a href="#gallery">Náhledy</a></li>
                <li><a href="#installation">Instalace</a></li>
                <li>
                    <a href="#description">Popis modifikací</a>
                    <ul class="nav">
                        <li><a href="#description-hangar">Hangár</a></li>
                        <li><a href="#description-loading">Načítání bitvy</a></li>
                        <li><a href="#description-battle">Bitva</a></li>
                        <li><a href="#description-others">Ostatní</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#mod-list">Seznam použitých módů</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        {% include gallery.html %}
        {% include wiki.html %}
    </div>
</div>
