<div id="installation" class="md">
    {% capture installation %}{% include wiki/installation.md %}{% endcapture %}
    {{ installation | markdownify }}
</div>
<div id="description"></div>
<div id="description-hangar" class="md">
    {% capture hangar %}{% include wiki/hangar.md %}{% endcapture %}
    {{ hangar | markdownify }}
</div>
<div id="description-loading" class="md">
    {% capture loading %}{% include wiki/loading.md %}{% endcapture %}
    {{ loading | markdownify }}
</div>
<div id="description-battle" class="md">
    {% capture battle %}{% include wiki/battle.md %}{% endcapture %}
    {{ battle | markdownify }}
</div>
<div id="description-others" class="md">
    {% capture others %}{% include wiki/others.md %}{% endcapture %}
    {{ others | markdownify }}
</div>
<audio controls>
  <source src="sounds/sixthsense.waw" type="audio/wav">
 </audio>
 <audio controls>
  <source src="sounds/ammoBay.wav" type="audio/wav">
</audio>
 <audio controls>
  <source src="sounds/firealert.wav" type="audio/wav">
</audio>
<div id="mod-list" class="md">
    {% capture modList %}{% include wiki/mod-list.md %}{% endcapture %}
    {{ modList | markdownify }}
</div>